<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Начали активность и не закончили</title>
</head>
<body>
<table style="width:100%" border="1">
    <tr align="center">
        <th>ssoid  пользователя</th>
        <th>end subtype</th>
    </tr>
    <tr>
        <td align="center">
            {{#noDublicateResult}}
                <div style="height: 20px;"   >
                    <h4 style="border: solid 1px black">{{this}}</h4>
                </div>
            {{/noDublicateResult}}
        </td>
        <td align="center">
            {{#count}}
                <div style="height:20px;">
                    <h4 style="border: solid 1px black">{{this}}</h4>
                </div>
            {{/count}}
        </td>
    </tr>
</table>
</body>
</html>